{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Login</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'login/bootstrap.css' %}" rel="stylesheet" type="text/css" />

    <!-- Custom styles for this template -->
    <link href="{% static 'login/signin.css' %}" rel="stylesheet">

  </head>

  <body>

    <div class="container">
    <!-- What you want to send-->
     <form class="form-signin" action="{% url 'login:submitform' %}" method="post">
        <h2 class="form-signin-heading">Welcome {{user.firstname}} {{user.lastname}} </h2>
        
        <h3>Designation : {{user.designation}} </h3>

        <h3>Business Unit : {{user.businessunit}} </h3>
        
        <button class="btn btn-lg btn-default btn-block" type="button">About US</button>
        <a href="#"> Look up available slots and book yours here </a>
      </form>

    </div> <!-- /container -->



  </body>
</html>